
body{
    padding: 10px;
}

.layui-table-grid-down{
    background:#ccc;
    width:100%;
    height:100%;
    opacity:0
  }
.layui-table-tips-main {
    /* width: 200px; */
    max-height: 100%!important;
    overflow-y: inherit!important;
}

.layui-table-tips-main img{
    width: 250px!important;
}

.layui-laypage-count{
    white-space: nowrap
}
.layui-table{
    width: 100%!important;
}

.layui-table-cell{
    height: auto;
    
    
}
.laytable-cell-1-brandDesc{
        white-space: normal;
}

.layui-laypage{
    display: flex;
    flex-wrap: nowrap;
    min-width: 540px;
}
.layui-table-page{
    overflow: inherit;
    padding-bottom: 40px;
    overflow-y: hidden!important;
}
.layui-laypage .layui-laypage-skip{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.top_nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px  10px;
    box-shadow: 0px 0px 20px 4px #ccc;
    font-size: 20px;
    height: auto;
    font-weight: 600;
}
.top_nav .border_left{
    display: inline-block;
    border-left: 4px solid #4ECAB0;
    padding: 0 5px;
}
.show_div {
    background: #fff;
}
.top_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.show_div{
    padding: 10px;
}
.show_div .show_box{
    background: #fff;
    height: 100px;
    box-shadow: 0px 0px 8px 2px #ccc;
}
.show_div .layui-col-item{
    line-height: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    transition: all 0.5s;
}
.show_div .layui-col-item.active{
    background: #1abc9c;
    color: #fff;
}
    

.show_div .layui-col-item .item.font1{
    font-size: 14px;
}
.show_div .layui-col-item .item.font2{
    font-size: 18px;
    font-weight: 600;
}

.show_div .layui-col-item .item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}
.show_div .show_box{
    padding: 10px;
}
.show_div .layui-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
[lay-filter=editBrand]{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[lay-filter=editBrand] .well{
    width: 100%;
    height: 0;
}
[lay-filter=editBrand] .file_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

[lay-filter=editBrand] .file_box>div{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

[lay-filter=editBrand]  .layui-form-label{
    width: auto;
}