body{
    padding: 10px;
    background-color: #F6F7FC!important;
    box-sizing: border-box;
    overflow-x: hidden;
}

.layui-table-grid-down{
    background:#ccc;
  width:100%;
      height:100%;
opacity:0
  }
.layui-table-tips-main {
    /* width: 200px; */
    max-height: 100%!important;
    overflow-y: inherit!important;
}

.layui-table-tips-main img{
    width: 250px!important;
}


.layui-laypage-count{
    white-space: nowrap
}
.layui-table{
    width: 100%!important;
}
.layui-table-cell{
    height: auto;
    
}


.layui-laypage{
    display: flex;
    flex-wrap: nowrap;
    min-width: 540px;
}
.layui-table-page{
    overflow: inherit;
    padding-bottom: 40px;
    overflow-y: hidden!important;
}
.layui-laypage .layui-laypage-skip{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}



.top_nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px  10px;
    box-shadow: 0px 0px 20px 4px #ccc;
    font-size: 20px;
    height: auto;
    font-weight: 600;
}
.top_nav .border_left{
    display: inline-block;
    border-left: 4px solid #4ECAB0;
    padding: 0 5px;
}
.show_div{
   
}
.show_div i{
    font-size: 30px;
}
.show_div .layui-col-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
}

.show_div .layui-col-item{
    white-space: nowrap;
    box-shadow: 0px 0px 8px 2px #ccc
}

.show_div .layui-col-item.active{
    background-color: #1ABC9C;
    color: #fff;
}

.show_div .layui-col-item .item{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}


.show_div .layui-col-item .item.font1{
    font-size: 14px;
}
.show_div .layui-col-item .item.font2{
    font-size: 18px;
    font-weight: 600;
}
.show_div .show_box{
    height: 100px;
    padding: 10px;
}
.show_div .layui-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.quncz_box{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    white-space: nowrap;
    margin: 0;
    border-radius: 2px;
    background-color: #f3f3f3;
    box-shadow: 0 0 11px 2px #ccc;
}

.layui-table-view{
    margin-top: 0;
   
}
.layui-table-body{
     max-height: 850px;
}
.quncz_box .title{
    font-size: 16px;
    display: inline-block;
    border-left: 4px solid #4ECAB0;
    padding: 0 5px;
}
.table_ul li{
    text-align: center;
}
.table_ul li:nth-child(2n-1){
    /* background: #eee; */
    
    /* border-top: 1px solid #000; */
}
.table_ul li:nth-child(2n){
    /* background: #e6e6e6; */
    /* border-top: 1px solid #000; */
}

/* 弹出框样式 */
.addstock_son{
    padding: 10px;
}

@media screen and (max-width: 800px){
    [lay-filter=editBox] .layui-form-item .layui-input-inline {
        width: 20%;
        float: left;
        margin: 0 10px;
        
    }
}

[lay-filter=editBox]{
    padding: 10px;
}
.parent{
    position: relative;
}
.parent .icon{
    position: absolute;
    left: 110%;
    top: -30%;
    width: 20px;
}
.parent .icon img{
    width: 100%;
}